src/main/resources/com/glookast/api/capture-info/capture-info.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://capture-info.api.glookast.com"
             xmlns:base="http://base.commons.glookast.com"
             xmlns:time="http://timecode.commons.glookast.com"
             name="CaptureInfo"
             targetNamespace="http://capture-info.api.glookast.com">
    <types>
        <xs:schema xmlns:tns="http://capture-info.api.glookast.com"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:base="http://base.commons.glookast.com"
                   xmlns:time="http://timecode.commons.glookast.com"
                   xmlns:capt="http://capture-info.commons.glookast.com"
                   version="1.0"
                   targetNamespace="http://capture-info.api.glookast.com">
            <xs:import namespace="http://base.commons.glookast.com" schemaLocation="../../commons/base/base.xsd"/>
            <xs:import namespace="http://timecode.commons.glookast.com"
                       schemaLocation="../../commons/timecode/timecode.xsd"/>
            <xs:import namespace="http://capture-info.commons.glookast.com"
                       schemaLocation="../../commons/capture-info/capture-info.xsd"/>

            <!-- request wrapper types -->
            <xs:complexType name="RequestVoid"/>

            <xs:complexType name="RequestTransferJobId">
                <xs:sequence>
                    <xs:element name="transferJobId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="RequestTemplateId">
                <xs:sequence>
                    <xs:element name="templateId" type="base:UUID" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="RequestCaptureJobId">
                <xs:sequence>
                    <xs:element name="captureJobId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="RequestSetCaptureJobClipName">
                <xs:sequence>
                    <xs:element name="captureJobId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="clipName" type="xs:string" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="RequestSetCaptureJobMetadata">
                <xs:sequence>
                    <xs:element name="captureJobId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="metadataList" type="base:PropertyList" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="CaptureInfoExceptionDetails">
                <xs:sequence>
                    <xs:element name="errorCode" type="xs:int" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="detail" type="xs:string" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>


            <!-- request elements -->
            <!-- SignalFormat -->
            <xs:element name="getCurrentSignalFormat" type="tns:RequestVoid"/>
            <xs:element name="getPossibleSignalFormats" type="tns:RequestVoid"/>
            <xs:element name="hasSignal" type="tns:RequestVoid"/>
            <xs:element name="getReferenceSignalStatus" type="tns:RequestVoid"/>

            <!-- Buffer Info -->
            <xs:element name="getAvailableBufferSpace" type="tns:RequestVoid"/>
            <xs:element name="getAvailableBufferTime" type="tns:RequestTemplateId"/>
            <xs:element name="getTotalBufferSpace" type="tns:RequestVoid"/>
            <xs:element name="getTotalBufferTime" type="tns:RequestTemplateId"/>

            <!-- Timecode Info -->
            <xs:element name="getCurrentTimecodes" type="tns:RequestVoid"/>

            <!-- Transfer Job -->
            <xs:element name="getTransferJobs" type="tns:RequestVoid"/>
            <xs:element name="getTransferJobById" type="tns:RequestTransferJobId"/>
            <xs:element name="getTransferJobsByCaptureJobId" type="tns:RequestCaptureJobId"/>
            <xs:element name="startTransferJob" type="tns:RequestTransferJobId"/>
            <xs:element name="getCaptureJobClipName" type="tns:RequestCaptureJobId"/>
            <xs:element name="setCaptureJobClipName" type="tns:RequestSetCaptureJobClipName"/>
            <xs:element name="setCaptureJobMetadata" type="tns:RequestSetCaptureJobMetadata"/>
            <xs:element name="getCaptureJobMetadata" type="tns:RequestCaptureJobId"/>

            <!-- Loop Recording -->
            <xs:element name="isLoopRecordingEnabled" type="tns:RequestVoid"/>
            <xs:element name="getLoopRecordingVideoFormatId" type="tns:RequestVoid"/>

            <!-- exceptions -->
            <xs:element name="captureInfoException" type="tns:CaptureInfoExceptionDetails"/>


            <!-- response wrapper types -->
            <xs:complexType name="ResponseVoid" />

            <xs:complexType name="ResponseString">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ResponseLong">
                <xs:sequence>
                    <xs:element name="return" type="xs:long" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ResponseBoolean">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ResponseUUID">
                <xs:sequence>
                    <xs:element name="return" type="base:UUID" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ResponseSignalFormat">
                <xs:sequence>
                    <xs:element name="return" type="capt:SignalFormat" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ResponseListSignalFormat">
                <xs:sequence>
                    <xs:element name="return" type="capt:SignalFormat" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ResponseTimecodeCollection">
                <xs:sequence>
                    <xs:element name="return" type="capt:TimecodeCollection" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ResponseListTransferJob">
                <xs:sequence>
                    <xs:element name="return" type="capt:TransferJob" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ResponseTransferJob">
                <xs:sequence>
                    <xs:element name="return" type="capt:TransferJob" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ResponsePropertyList">
                <xs:sequence>
                    <xs:element name="return" type="base:PropertyList" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ResponseTimecodeDuration">
                <xs:sequence>
                    <xs:element name="return" type="time:TimecodeDuration" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ResponseReferenceSignalStatus">
                <xs:sequence>
                    <xs:element name="return" type="capt:SignalReferenceStatus" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>


            <!-- response elements -->
            <xs:element name="responseVoid" type="tns:ResponseVoid"/>
            <xs:element name="responseString" type="tns:ResponseString"/>
            <xs:element name="responseLong" type="tns:ResponseLong"/>
            <xs:element name="responseBoolean" type="tns:ResponseBoolean"/>
            <xs:element name="responseUUID" type="tns:ResponseUUID"/>
            <xs:element name="responseSignalFormat" type="tns:ResponseSignalFormat"/>
            <xs:element name="responseListSignalFormat" type="tns:ResponseListSignalFormat"/>
            <xs:element name="responseTimecodeCollection" type="tns:ResponseTimecodeCollection"/>
            <xs:element name="responseListTransferJob" type="tns:ResponseListTransferJob"/>
            <xs:element name="responseTransferJob" type="tns:ResponseTransferJob"/>
            <xs:element name="responsePropertyList" type="tns:ResponsePropertyList"/>
            <xs:element name="responseTimecodeDuration" type="tns:ResponseTimecodeDuration"/>
            <xs:element name="responseReferenceSignalStatus" type="tns:ResponseReferenceSignalStatus"/>

        </xs:schema>
    </types>

    <!-- response messages -->
    <message name="responseVoid">
        <part name="parameters" element="tns:responseVoid"/>
    </message>
    <message name="responseString">
        <part name="parameters" element="tns:responseString"/>
    </message>
    <message name="responseLong">
        <part name="parameters" element="tns:responseLong"/>
    </message>
    <message name="responseBoolean">
        <part name="parameters" element="tns:responseBoolean"/>
    </message>
    <message name="responseUUID">
        <part name="parameters" element="tns:responseUUID"/>
    </message>
    <message name="responseSignalFormat">
        <part name="parameters" element="tns:responseSignalFormat"/>
    </message>
    <message name="responseListSignalFormat">
        <part name="parameters" element="tns:responseListSignalFormat"/>
    </message>
    <message name="responseTimecodeCollection">
        <part name="parameters" element="tns:responseTimecodeCollection"/>
    </message>
    <message name="responseListTransferJob">
        <part name="parameters" element="tns:responseListTransferJob"/>
    </message>
    <message name="responseTransferJob">
        <part name="parameters" element="tns:responseTransferJob"/>
    </message>
    <message name="responsePropertyList">
        <part name="parameters" element="tns:responsePropertyList"/>
    </message>
    <message name="responseTimecodeDuration">
        <part name="parameters" element="tns:responseTimecodeDuration"/>
    </message>
    <message name="responseReferenceSignalStatus">
        <part name="parameters" element="tns:responseReferenceSignalStatus"/>
    </message>

    <!-- request messages -->
    <message name="getCurrentSignalFormat">
        <part name="parameters" element="tns:getCurrentSignalFormat"/>
    </message>
    <message name="getPossibleSignalFormats">
        <part name="parameters" element="tns:getPossibleSignalFormats"/>
    </message>
    <message name="hasSignal">
        <part name="parameters" element="tns:hasSignal"/>
    </message>
    <message name="getAvailableBufferSpace">
        <part name="parameters" element="tns:getAvailableBufferSpace"/>
    </message>
    <message name="getAvailableBufferTime">
        <part name="parameters" element="tns:getAvailableBufferTime"/>
    </message>
    <message name="getTotalBufferSpace">
        <part name="parameters" element="tns:getTotalBufferSpace"/>
    </message>
    <message name="getTotalBufferTime">
        <part name="parameters" element="tns:getTotalBufferTime"/>
    </message>
    <message name="getCurrentTimecodes">
        <part name="parameters" element="tns:getCurrentTimecodes"/>
    </message>
    <message name="getTransferJobs">
        <part name="parameters" element="tns:getTransferJobs"/>
    </message>
    <message name="getTransferJobById">
        <part name="parameters" element="tns:getTransferJobById"/>
    </message>
    <message name="getTransferJobsByCaptureJobId">
        <part name="parameters" element="tns:getTransferJobsByCaptureJobId"/>
    </message>
    <message name="startTransferJob">
        <part name="parameters" element="tns:startTransferJob"/>
    </message>
    <message name="getCaptureJobClipName">
        <part name="parameters" element="tns:getCaptureJobClipName"/>
    </message>
    <message name="setCaptureJobClipName">
        <part name="parameters" element="tns:setCaptureJobClipName"/>
    </message>
    <message name="setCaptureJobMetadata">
        <part name="parameters" element="tns:setCaptureJobMetadata"/>
    </message>
    <message name="getCaptureJobMetadata">
        <part name="parameters" element="tns:getCaptureJobMetadata"/>
    </message>
    <message name="getReferenceSignalStatus">
        <part name="parameters" element="tns:getReferenceSignalStatus"/>
    </message>
    <message name="isLoopRecordingEnabled">
        <part name="parameters" element="tns:isLoopRecordingEnabled"/>
    </message>
    <message name="getLoopRecordingVideoFormatId">
        <part name="parameters" element="tns:getLoopRecordingVideoFormatId"/>
    </message>

    <message name="captureInfoException">
        <part name="fault" element="tns:captureInfoException"/>
    </message>

    <portType name="CaptureInfoPort">
        <operation name="getCurrentSignalFormat">
            <input message="tns:getCurrentSignalFormat"/>
            <output message="tns:responseSignalFormat"/>
            <fault name="captureInfoException" message="tns:captureInfoException"/>
        </operation>
        <operation name="getPossibleSignalFormats">
            <input message="tns:getPossibleSignalFormats"/>
            <output message="tns:responseListSignalFormat"/>
            <fault name="captureInfoException" message="tns:captureInfoException"/>
        </operation>
        <operation name="hasSignal">
            <input message="tns:hasSignal"/>
            <output message="tns:responseBoolean"/>
            <fault name="captureInfoException" message="tns:captureInfoException"/>
        </operation>
        <operation name="getAvailableBufferSpace">
            <input message="tns:getAvailableBufferSpace"/>
            <output message="tns:responseLong"/>
            <fault name="captureInfoException" message="tns:captureInfoException"/>
        </operation>
        <operation name="getAvailableBufferTime">
            <input message="tns:getAvailableBufferTime"/>
            <output message="tns:responseTimecodeDuration"/>
            <fault name="captureInfoException" message="tns:captureInfoException"/>
        </operation>
        <operation name="getTotalBufferSpace">
            <input message="tns:getTotalBufferSpace"/>
            <output message="tns:responseLong"/>
            <fault name="captureInfoException" message="tns:captureInfoException"/>
        </operation>
        <operation name="getTotalBufferTime">
            <input message="tns:getTotalBufferTime"/>
            <output message="tns:responseTimecodeDuration"/>
            <fault name="captureInfoException" message="tns:captureInfoException"/>
        </operation>
        <operation name="getCurrentTimecodes">
            <input message="tns:getCurrentTimecodes"/>
            <output message="tns:responseTimecodeCollection"/>
            <fault name="captureInfoException" message="tns:captureInfoException"/>
        </operation>
        <operation name="getTransferJobs">
            <input message="tns:getTransferJobs"/>
            <output message="tns:responseListTransferJob"/>
            <fault name="captureInfoException" message="tns:captureInfoException"/>
        </operation>
        <operation name="getTransferJobById">
            <input message="tns:getTransferJobById"/>
            <output message="tns:responseTransferJob"/>
            <fault name="captureInfoException" message="tns:captureInfoException"/>
        </operation>
        <operation name="getTransferJobsByCaptureJobId">
            <input message="tns:getTransferJobsByCaptureJobId"/>
            <output message="tns:responseListTransferJob"/>
            <fault name="captureInfoException" message="tns:captureInfoException"/>
        </operation>
        <operation name="startTransferJob">
            <input message="tns:startTransferJob"/>
            <output message="tns:responseVoid"/>
            <fault name="captureInfoException" message="tns:captureInfoException"/>
        </operation>
        <operation name="getCaptureJobClipName">
            <input message="tns:getCaptureJobClipName"/>
            <output message="tns:responseString"/>
            <fault name="captureInfoException" message="tns:captureInfoException"/>
        </operation>
        <operation name="setCaptureJobClipName">
            <input message="tns:setCaptureJobClipName"/>
            <output message="tns:responseVoid"/>
            <fault name="captureInfoException" message="tns:captureInfoException"/>
        </operation>
        <operation name="setCaptureJobMetadata">
            <input message="tns:setCaptureJobMetadata"/>
            <output message="tns:responsePropertyList"/>
            <fault name="captureInfoException" message="tns:captureInfoException"/>
        </operation>
        <operation name="getCaptureJobMetadata">
            <input message="tns:getCaptureJobMetadata"/>
            <output message="tns:responsePropertyList"/>
            <fault name="captureInfoException" message="tns:captureInfoException"/>
        </operation>
        <operation name="getReferenceSignalStatus">
            <input message="tns:getReferenceSignalStatus"/>
            <output message="tns:responseReferenceSignalStatus"/>
            <fault name="captureInfoException" message="tns:captureInfoException"/>
        </operation>
        <operation name="isLoopRecordingEnabled">
            <input message="tns:isLoopRecordingEnabled"/>
            <output message="tns:responseBoolean"/>
            <fault name="captureInfoException" message="tns:captureInfoException"/>
        </operation>
        <operation name="getLoopRecordingVideoFormatId">
            <input message="tns:getLoopRecordingVideoFormatId"/>
            <output message="tns:responseUUID"/>
            <fault name="captureInfoException" message="tns:captureInfoException"/>
        </operation>

    </portType>
    <binding name="CaptureInfoBinding" type="tns:CaptureInfoPort">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getCurrentSignalFormat">
            <soap:operation soapAction="http://capture-info.api.glookast.com/getCurrentSignalFormat"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="captureInfoException">
                <soap:fault name="captureInfoException" use="literal"/>
            </fault>
        </operation>
        <operation name="getPossibleSignalFormats">
            <soap:operation soapAction="http://capture-info.api.glookast.com/getPossibleSignalFormats"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="captureInfoException">
                <soap:fault name="captureInfoException" use="literal"/>
            </fault>
        </operation>
        <operation name="hasSignal">
            <soap:operation soapAction="http://capture-info.api.glookast.com/hasSignal"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="captureInfoException">
                <soap:fault name="captureInfoException" use="literal"/>
            </fault>
        </operation>
        <operation name="getAvailableBufferSpace">
            <soap:operation soapAction="http://capture-info.api.glookast.com/getAvailableBufferSpace"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="captureInfoException">
                <soap:fault name="captureInfoException" use="literal"/>
            </fault>
        </operation>
        <operation name="getAvailableBufferTime">
            <soap:operation soapAction="http://capture-info.api.glookast.com/getAvailableBufferTime"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="captureInfoException">
                <soap:fault name="captureInfoException" use="literal"/>
            </fault>
        </operation>
        <operation name="getTotalBufferSpace">
            <soap:operation soapAction="http://capture-info.api.glookast.com/getTotalBufferSpace"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="captureInfoException">
                <soap:fault name="captureInfoException" use="literal"/>
            </fault>
        </operation>
        <operation name="getTotalBufferTime">
            <soap:operation soapAction="http://capture-info.api.glookast.com/getTotalBufferTime"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="captureInfoException">
                <soap:fault name="captureInfoException" use="literal"/>
            </fault>
        </operation>
        <operation name="getCurrentTimecodes">
            <soap:operation soapAction="http://capture-info.api.glookast.com/getCurrentTimecodes"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="captureInfoException">
                <soap:fault name="captureInfoException" use="literal"/>
            </fault>
        </operation>
        <operation name="getTransferJobs">
            <soap:operation soapAction="http://capture-info.api.glookast.com/getTransferJobs"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="captureInfoException">
                <soap:fault name="captureInfoException" use="literal"/>
            </fault>
        </operation>
        <operation name="getTransferJobById">
            <soap:operation soapAction="http://capture-info.api.glookast.com/getTransferJobById"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="captureInfoException">
                <soap:fault name="captureInfoException" use="literal"/>
            </fault>
        </operation>
        <operation name="getTransferJobsByCaptureJobId">
            <soap:operation soapAction="http://capture-info.api.glookast.com/getTransferJobsByCaptureJobId"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="captureInfoException">
                <soap:fault name="captureInfoException" use="literal"/>
            </fault>
        </operation>
        <operation name="startTransferJob">
            <soap:operation soapAction="http://capture-info.api.glookast.com/startTransferJob"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="captureInfoException">
                <soap:fault name="captureInfoException" use="literal"/>
            </fault>
        </operation>
        <operation name="getCaptureJobClipName">
            <soap:operation soapAction="http://capture-info.api.glookast.com/getCaptureJobClipName"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="captureInfoException">
                <soap:fault name="captureInfoException" use="literal"/>
            </fault>
        </operation>
        <operation name="setCaptureJobClipName">
            <soap:operation soapAction="http://capture-info.api.glookast.com/setCaptureJobClipName"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="captureInfoException">
                <soap:fault name="captureInfoException" use="literal"/>
            </fault>
        </operation>
        <operation name="setCaptureJobMetadata">
            <soap:operation soapAction="http://capture-info.api.glookast.com/setCaptureJobMetadata"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="captureInfoException">
                <soap:fault name="captureInfoException" use="literal"/>
            </fault>
        </operation>
        <operation name="getCaptureJobMetadata">
            <soap:operation soapAction="http://capture-info.api.glookast.com/getCaptureJobMetadata"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="captureInfoException">
                <soap:fault name="captureInfoException" use="literal"/>
            </fault>
        </operation>
        <operation name="getReferenceSignalStatus">
            <soap:operation soapAction="http://capture-info.api.glookast.com/getReferenceSignalStatus"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="captureInfoException">
                <soap:fault name="captureInfoException" use="literal"/>
            </fault>
        </operation>
        <operation name="isLoopRecordingEnabled">
            <soap:operation soapAction="http://capture-info.api.glookast.com/isLoopRecordingEnabled"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="captureInfoException">
                <soap:fault name="captureInfoException" use="literal"/>
            </fault>
        </operation>
        <operation name="getLoopRecordingVideoFormatId">
            <soap:operation soapAction="http://capture-info.api.glookast.com/getLoopRecordingVideoFormatId"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="captureInfoException">
                <soap:fault name="captureInfoException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="CaptureInfoService">
        <port name="CaptureInfoPort" binding="tns:CaptureInfoBinding">
            <soap:address location="http://host/path/CaptureInfoPort"/>
        </port>
    </service>
</definitions>